html, body {
    overflow-x: hidden;
    width: 100%;
}

.dashboard-subheading {
    font-size: 22px;
    
    color: #333;
    margin-top: 30px;
    padding: 10px;    
    color: black;
    border-radius: 5px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #531ee6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Column Widths */
.date-column {
    width: 15%;
}

.details-column {
    width: 55%;
}

.doctor-column {
    width: 30%;
}

.diagnosis-column {
    width: 35%;
}

.prescription-column {
    width: 35%;
}

/* Prescription Table Adjustments */
.prescriptions-table .date-column {
    width: 15%;
}

.prescriptions-table .details-column {
    width: 42.5%;
}

.prescriptions-table .doctor-column {
    width: 42.5%;
}

/*this is for the appoinment page*/

.upcoming {
    border-radius: 10px;
    background-color: white;
    
}

.upcoming-appointments {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

}

.previous-appointments {
    display: flex;
    gap:5px;
    overflow-x: auto;
    flex-wrap: wrap;
    white-space: nowrap;
    flex: 0 0 auto; 
    scroll-behavior: smooth;   
}


.content-header-appointment {
    background-color: #531ee6;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80px;
}


.content-header-appointment p {
    text-align: center;
}

.upcoming-container {  
    height:300px;
    width: 250px;  
    display:block; 
    color: white;
    background-color:#531ee6;
    padding: 15px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.content-buttons {
    display:flex;
    justify-content: end;
    align-items: center;
}

.btn-container {
    Padding-right: 20px;
}
.content-buttons button {
    padding-left: 15px;
    padding-right:15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
